<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<tr>
			<td>	
		    <span style="font-size:18px; font-weight:bold;">Hi <%= @user.first_name %>, </span>
		    <br>
			<span style="font-size:18px;"> Your Email verified successfully!. </span>
			<br>
		    <span style="font-size:18px;">Congratulations on becoming a Deegee user! You may now log in to explore user's NFT collections and share yours! </span>
		    <br>
		    <br>
		    <span style="font-size:18px; font-weight:bold;">If you have any questions please don't hesitate to email us at <a href="#" >support@deegee.io</a></span>
		  </td>
		</tr>
	</body>
</html>
