<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<tr>
			<td>	
		    <span style="font-size:18px; font-weight:bold;">Hi <%= @user.full_name %>, </span>
		    <br>
		    <span style="font-size:18px;"> Your friend requested was accepted by <%= @current_user.full_name %> </span>
		    <br>
		  </td>
		</tr>
	</body>
</html>
