<!DOCTYPE html>
<html>
	<head>
	  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<tr>
			<td>	
		    <span style="font-size:18px; font-weight:bold;">Hi <%= @account.first_name %>, </span>
		    <br>
				<br>
		    <span style="font-size:18px;">Your Deegee verification code is <%= @otp.pin %></span>
		    <br>
		    <br>
		    <span style="font-size:18px; font-weight:bold;">If you have any questions please don't hesitate to email us at <a href="#" >support@deegee.io</a></span>
		  </td>
		</tr>
	</body>
</html>
